* {
    margin: 0;
}

body{
    background-color: rgb(47, 49, 54);
    color: rgb(153, 170, 181);
}
#main{
    text-align: center;
    font-size: 30px;
}
.navegacion {
    display: flex;
    justify-content: center;
    margin:15px 0;
}

.navegacion > a {
    text-decoration: none;
    padding: 10px 100px;
    color: white;
    transition: transform 0.2s linear;
}

.navegacion > a > i {
    font-size: 30px;

}
.navegacion > a:hover {
	transform: scale(1.5);
}

h1{
    color:lightcyan;
    text-align: center;
    padding: 10px;
}

#fotosClima {
    background-color: lightcyan;
    margin: auto;
    text-align: center;
    }

.imagenes{
    width:200px;
    height:200px;
    padding: 100px;

}




